spring:
  mvc:
    view:
      prefix: /WEB-INF/views/
      suffix: .jsp
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://macgyver.ckmsnq0fjpg3.ap-northeast-2.rds.amazonaws.com:3306/macgyver?validationQuery="select 1"
    username: admin
    password: admin1234
  jpa:
    database-platform: org.hibernate.dialect.MySQL8InnoDBDialect
    open-in-view: false
    show-sql: true
    hibernate:
      format_sql: true
      ddl-auto: none
  session:
    store-type: jdbc
    jdbc.initialize-schema: always
  security:
    oauth2:
      client:
        registration:
          naver:
            client-id: niL6_sFJJCPqpfSO0uHU
            client-secret: I7DrhpsqP6
            redirect-uri: http://localhost:8080/login/oauth2/code/naver
            authorization-grant-type: authorization_code
            scope: name, email, mobile, gender, birthyear, birthday
            client-name: Naver
        provider:
          naver:
            authorization_uri: https://nid.naver.com/oauth2.0/authorize
            token_uri: https://nid.naver.com/oauth2.0/token
            user-info-uri: https://openapi.naver.com/v1/nid/me
            user_name_attribute: response

logging:
  level:
    org:
      hibernate:
        SQL: DEBUG
        type:
          descriptor:
            sql:
              BasicBinder: TRACE